#header {
    width: 100%;
    background-color: #051036;
    position: fixed;
    z-index: 100;
    height: 97px;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    justify-content: space-between;
    border-bottom: 1px solid #e9eaec;
}

#header .header__layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
    row-gap: 8px;
}

.header__layout .header__layout-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 8px;
}

.header__group-items {
    margin: 0;
    float: left !important;
    padding-left: 0;
    display: flex;
    flex-direction: row;
}

.popup .lang{
    border-radius: 9999px;
}

 .header__item {
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    flex-direction: column;
    position: relative;
    justify-content: center;
}
.dropdown-item {
    position: absolute;
    top: 100%;
    border-radius: 4px;
    padding: 12px;
    width: 400px;
    background-color: white;
    border: 1px solid #e9eaec;
    display: none;
    animation: dropdown-enter-animation 0.3s ease;
}

.dropdown-item.user{
    right: 0;
}

.header__layout-right .dropdown-item.user{
    right: 0;
    width: 312px;
}

.dropdown-item.active {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dropdown-item .item {
    cursor: pointer;
    background-color: #f5f5f5;
    border-radius: 4px;
    display: flex;
    padding: 12px;
    margin: 0;
    align-items: center;
    flex-direction: row;
    gap: 6px;
    transition: 0.3s ease;
}

.line {
    width: 1px;
    height: 24px;
    background-color: #e9eaec;
}

.dropdown-item .item span {
    color: #051036;
    font-size: 24px;
}

.dropdown-item .item .arrow-icon {
    display: none;
    margin-left: auto;
}

.dropdown-item .item:hover .arrow-icon {
    display: block;
}

.dropdown-item .item:hover .item-name {
    color: #051036;
}

.dropdown-item .item .item-name {
    color: rgb(97, 97, 97);
    font-size: 14px;
    font-weight: 500;
}
.header-title {
    font-size: 14px;
    letter-spacing: 0.235px;
    line-height: 20px;
    padding: 12px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

.arrow-icon{
    display: flex;
    padding: 12px 12px 12px 0;
    align-items: center;
    justify-content: center;
} 

.header__layout-right {
    float: right!important;
    display: flex;
    align-items: center;
    margin: 0;
    list-style: none;
}

.header__layout-right .popup{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.header-button{
    border: none;
    background-color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-right: 32px;
    justify-content: center;
}

.header-button.dark{
    background-color: #051036;
    border: 1px solid white;
    display: none;
    margin: 0 32px 0 24px;
}

.header-button.dark .header-title{
    color: white;
}

.display{
    display: flex !important;
}

.header-button .header-title{
    color: #051036;
}

@keyframes dropdown-enter-animation {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}


@media (min-width: 768px){
    .header__layout-right>li {
        float: left;
    }
}
